<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
</head>

<body>
<p>Dear Mr/Mrs {{.Name}},</p>
<p>Thank you to have contacted our customer service.</p>
<p>Here is a summary of your request:</p>
<ul>
  <li>Name: {{.Name}}</li>
  <li>Email: {{.Email}}</li>
  <li>Organization: {{.Organization}}</li>
  <li>Subject: {{.Subject}}</li>
  <li>Message: {{.Message}}</li>
</ul>
<p>We'll get back to you to you within the next 48 hours.</p>
<p>Kind regards,</p>
--
<p>Your Customer Service.</p>

</body>

</html>