<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
</head>

<body>
Dear Mr/Mrs {{.Name}},
Thank you to have contacted our customer service.

<legend>Summary of your request</legend>
<ul>
  <li>Name: {{.Name}}</li>
  <li>Email: {{.Email}}</li>
  <li>Organization: {{.Organization}}</li>
  <li>Subject: {{.Subject}}</li>
  <li>Message: {{.Message}}</li>
</ul>

We'll get back to you to you within the next 48 hours.
Kind regards,
--
The Customer Service Team

    
</body>

</html>