name: Docker image
on:
  push:
    tags:
      - v*
jobs:
  build:
    runs-on: ubuntu-24.04
    env:
      IMAGE_REPO: rchakode/hugo-mx-gateway
    steps:
    - name: Check out code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Build binary
      run: make build-ci

    - name: Get version tag
      id: version
      run: |
        GIT_TAG=$(git describe --tags --abbrev=0)
        IMAGE_TAG=$(echo $GIT_TAG | sed 's/v//')
        echo "git_tag=$GIT_TAG" >> $GITHUB_OUTPUT
        echo "image_tag=$IMAGE_TAG" >> $GITHUB_OUTPUT

    - name: Build Docker image
      run: |
        docker build . --file Dockerfile --tag ${{ env.IMAGE_REPO }}:${{ steps.version.outputs.image_tag }}
        docker tag ${{ env.IMAGE_REPO }}:${{ steps.version.outputs.image_tag }} ${{ env.IMAGE_REPO }}:latest

    - name: Run Trivy vulnerability scanner
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: ${{ env.IMAGE_REPO }}:${{ steps.version.outputs.image_tag }}
        format: 'table'
        exit-code: '1'
        ignore-unfixed: true
        vuln-type: 'os,library'
        severity: 'CRITICAL,HIGH'

    - name: Push Docker image
      env:
        REGISTRY_PASSWORD: ${{ secrets.REGISTRY_PASSWORD }}
        REGISTRY_USERNAME: ${{ secrets.REGISTRY_USERNAME }}
      run: |
        echo "$REGISTRY_PASSWORD" | docker login -u $REGISTRY_USERNAME --password-stdin
        docker push ${{ env.IMAGE_REPO }}:${{ steps.version.outputs.image_tag }}
        docker push ${{ env.IMAGE_REPO }}:latest
